<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Site Metas -->
  <title>Perfect - Responsive HTML5 Template</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="#" type="image/x-icon" />
  <link rel="apple-touch-icon" href="#" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Pogo Slider CSS -->
  <link rel="stylesheet" href="css/pogo-slider.min.css" />
  <!-- Site CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="css/responsive.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/custom.css" />

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

  <!-- Start header -->
  <%- include('components/header.html'); %>
    <!-- End header -->

    <!-- section -->

    <section class="inner_banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="full">
              <h3>Blogs</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end section -->

    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-6 mx-auto mb-5">
              <form class="form-login-signup" method="POST" action="/blogs">
                <h3 class="h2 mb-3">Create a blog</h3>
                <div class="form-label-group mb-3">
                  <input type="text" id="blogTitle" class="form-control" placeholder="Enter Title" name="blogTitle"
                    required autofocus>
                  <label for="blogTitle">Blog Title</label>
                </div>

                <textarea class="form-control mb-3" name="blogText" id="blogText" rows="5" placeholder="Enter Text"
                  required></textarea>

                <button class="btn btn-lg btn-primary btn-color-hover btn-block text-uppercase"
                  type="submit">Create</button>
              </form>
            </div>
            <div class="row">
              <% for (let blog of blogs) { %>
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                  <div class="full d-flex flex-column align-items-center justify-content-center blog_img_popular">
                    <img class="img-responsive" src="<%= blog.imageURL %>" alt="#" />
                    <h4>
                      <%= blog.title %>
                    </h4>
                    <p class="mb-3">
                      <%= blog.text %>
                    </p>
                    <button class="btn btn-lg btn-primary btn-color-hover text-uppercase delete-btn" type="button"
                      data-id="<%= blog.id %>">Delete</button>
                  </div>
                </div>
                <% } %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end section -->

    <!-- Start Footer -->
    <%- include('components/footer.html'); %>
      <!-- End Footer -->

      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

      <script type="text/javascript">

        const buttons = document.querySelectorAll("button.delete-btn")

        buttons.forEach(button => {

          button.addEventListener("click", async ({ currentTarget: btn }) => {

            const { id } = btn.dataset

            const body = { id }

            const DELETE = await fetch("http://localhost:4015/blogs", {
              method: "DELETE",
              body: JSON.stringify(body)
            })

            if (DELETE.status === 200) {

              const { ok } = await DELETE.json()

              if (ok) {
                btn.offsetParent.remove()
              }
            }

          })
        })

      </script>

      <!-- ALL JS FILES -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/jquery.pogo-slider.min.js"></script>
      <script src="js/slider-index.js"></script>
      <script src="js/smoothscroll.js"></script>
      <script src="js/form-validator.min.js"></script>
      <script src="js/contact-form-script.js"></script>
      <script src="js/isotope.min.js"></script>
      <script src="js/images-loded.min.js"></script>
      <script src="js/custom.js"></script>
</body>

</html>