<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Site Metas -->
  <title>Perfect - Responsive HTML5 Template</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="#" type="image/x-icon" />
  <link rel="apple-touch-icon" href="#" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Pogo Slider CSS -->
  <link rel="stylesheet" href="css/pogo-slider.min.css" />
  <!-- Site CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="css/responsive.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/custom.css" />

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

  <!-- Start header -->
  <%- include('components/header.html'); %>
    <!-- End header -->

    <!-- section -->

    <section class="inner_banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="full">
              <h3>Courses</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end section -->

    <!-- section -->
    <div class="section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <div class="heading_main text_align_center">
                <h2><span>Popular </span>Courses</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="full blog_img_popular">
              <img class="img-responsive" src="images/p1.png" alt="#" />
              <h4>Financial Accounting</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="full blog_img_popular">
              <img class="img-responsive" src="images/p2.png" alt="#" />
              <h4>Managerial Accounting</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="full blog_img_popular">
              <img class="img-responsive" src="images/p3.png" alt="#" />
              <h4>Intermediate Accounting</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end section -->

    <!-- Start Footer -->
    <%- include('components/footer.html'); %>
      <!-- End Footer -->

      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

      <!-- ALL JS FILES -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/jquery.pogo-slider.min.js"></script>
      <script src="js/slider-index.js"></script>
      <script src="js/smoothscroll.js"></script>
      <script src="js/form-validator.min.js"></script>
      <script src="js/contact-form-script.js"></script>
      <script src="js/isotope.min.js"></script>
      <script src="js/images-loded.min.js"></script>
      <script src="js/custom.js"></script>
</body>

</html>