<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <nav class="tab-bar-top">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab"
            aria-controls="nav-login" aria-selected="false">Login</a>
          <a class="nav-item nav-link active" id="nav-signup-tab" data-toggle="tab" href="#nav-signup" role="tab"
            aria-controls="nav-signup" aria-selected="true">Sign up</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
          <form class="form-login-signup">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-color-hover btn-block text-uppercase" type="submit">Login</button>
          </form>
        </div>
        <div class="tab-pane fade show active" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
          <form class="form-login-signup">
            <div class="form-label-group">
              <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
              <label for="inputUserame">Username</label>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail-1" class="form-control" placeholder="Email address" required>
              <label for="inputEmail-1">Email address</label>
            </div>

            <hr>

            <div class="form-label-group">
              <input type="password" id="inputPassword-1" class="form-control" placeholder="Password" required>
              <label for="inputPassword-1">Password</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
              <label for="inputConfirmPassword">Confirm password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">I Agree To The Terms & Conditions</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block btn-color-hover text-uppercase"
              type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>